<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
   <th:block th:fragment="content">
   
   <h1 class="mt-4">게시글 수정 페이지</h1>
   
   <!-- 수정시 Controller 에세 데이터를 전송하기 위한 Form -->
   <form method="post" action="/board/modify">
   <!-- hidden 으로 pageNumber 세팅 -->
   <input type="hidden" name="page" th:value="${pageRequestDTO.page}" class="form-group">  
   <input type="hidden" name="regDate" th:value="${dto.regDate}" class="form-group">
   <input type="hidden" name="modDate" th:value="${dto.modDate}" class="form-group">
   
   <div class="form-group">
      <label>Bno</label>
      <input type="text" class="form-control" name="bno" th:value="${dto.bno}"  readonly>
   </div>
   
   <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="title" th:value="${dto.title}">
   </div>
   
   <div class="form-group">
      <label>Content</label>
      <textarea class="form-control" name="content" rows="5">[[${dto.content}]]</textarea>
   </div>
   
   <div class="form-group">
      <label>Writer</label>
      <input type="text" class="form-control" name="writerEmail" th:value="${dto.writerEmail}"  readonly>
   </div>
   
   <div class="form-group">
      <label>작성일</label>
      <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd')}"  readonly>
   </div>
   
   <div class="form-group">
      <label>수정일</label>
      <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd')}"  readonly>
   </div>
  
   </form>
   <!-- 수정, 삭제, 리스트 버튼 생성 -->
   <button class="btn btn-primary modifyBtn">Modify</button>
   <button class="btn btn-info listBtn">List</button>
   <button class="btn btn-danger removeBtn">Remove</button>
   
   <script th:inline="javascript">
   //jquery 를 이용해서 동적으로 폼 전송하자
   let theForm = $("form");//폼 찾아내기
   
   $(".modifyBtn").click(function(){
      if(!confirm("수정하시겠습니까?")){//만약 no 라고하면 false 리턴
         return;
      }
      //jquery 의 form 객체의 메서드 중에 attr()이 있는데, 여기에는 폼의 속성(action, method 기타 정보 등)을
      //지정해서 submit()을 호출하면 해당 속성값으로 요청이 이뤄짐.
      theForm.attr("action","/board/modify")
           .attr("method","post")
           .submit();
     
   });
   
   //dek 버튼을 누르면, post 방식으로 remove 로 요청을 보내도록 jquery 를 작성.
   $(".removeBtn").click(function(){
      if(!confirm("지우시겠습니까?")){//만약 no 라고하면 false 리턴
         return;
      }
      theForm.attr("action","/board/remove")
           .attr("method","post")
           .submit();
     
   });
   
   </script>
   
   
   </th:block>
</th:block>